.heading-xl {
  font-size: 2.4rem;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.heading-l {
  font-size: 1.8rem;
  line-height: 1.2;
}

.heading-m {
  font-size: 1.4rem;
  line-height: 1.3;
}

.heading-s {
  font-size: 1.1rem;
  line-height: 1.4;
}

.text-body {
  font-size: 1rem;
  line-height: 1.6;
}

.text-meta {
  font-size: 0.85rem;
  line-height: 1.4;
  color: #666666;
}
